*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Poppins";
    src: url(./resources/fonts/Poppins/Poppins-Regular.ttf);
}

html
{
    font-size: 16px;
    scroll-behavior: smooth;
}

a
{
    text-decoration: none;
}

button
{
    width: 130px;
    height: 35px;
    font-weight: bolder;
    font-size: 0.75em;
    color: white;
    background-color: #1d1d1d;
    border: none;
}

button:active
{
    transform: translateY(1px);
}

.fuentePrincipal
{
    font-size: 1.25em;
    color: white;
}

nav
{
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: #1d1d1d;
    display: flex;
}

/*--------------- Burguer -------------------*/
.svg-container
{
    display: flex;
    margin-left: 5px;   
    margin-right: 20px;
    height: 5vh;
}
.line
{
    fill: none;
    stroke: #dddddd;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1
{
    stroke-dasharray: 60 207;
    stroke-dashoffset: 0;
}
.line2
{
    stroke-dasharray: 60 60;
    stroke-dashoffset: 0;
}
.line3
{
    stroke-dasharray: 60 207;
    stroke-dashoffset: 0;
}

/* X Icon */

.opened .line1
{
    stroke-dasharray: 90 207;
    stroke-dashoffset: -135;
}
.opened .line2
{
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}
.opened .line3
{
    stroke-dasharray: 90 207;
    stroke-dashoffset: -135;
}
/*------------ Fin de burguer --------------*/
/*------------ Inicio menu -----------------*/

.aContainer
{
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 10px;
    transition: transform 0.4s ease;
}

.aContainer a
{
    text-decoration: none;
    color: black;
    padding: 10px 0;
    display: block;    
}

.aContainer a:hover
{
    background-color: #1d1d1d;
}

.aContainer.active
{
    transform: translateX(100%);
}

/*--------------- Fin Menu ----------*/

.nosotros-container
{
    background-image: url(./resources/workers-construction-site.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.nosotros-texto-container
{
    background-color: rgba(0, 0, 0, 70%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.nosotros-texto-container p
{
    width: 90%;
}

.nosotros-texto-container div
{
    width: 90%;
}

.nosotros-texto-container button
{
    margin-top: 30px;
}

.valores-container
{
    background-color: #F8F9FA;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valores-mosaico-container
{
    display: grid;
    grid-template-areas: 
    "mosaico1 mosaico2"
    "mosaico1 mosaico3";
    width: 90%;
    min-height: 30vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
}

#mosaico1
{
    grid-area: mosaico1;
    background-image: url(./resources/construction-sector-768x768.jpg);
    background-size: cover;
    background-position: 70%;
}

#mosaico2
{
    grid-area: mosaico2;
    background-image: url(./resources/6a0c3268aa9051fd5646973dc070aa7edc1fcb8e.jpg);
    background-size: cover;
}

#mosaico3
{
    grid-area: mosaico3;
    background-image: url(./resources/bC1DRGoM.jpeg);
    background-size: cover;
    background-position: 35%;
}

.valores-texto-container
{
    margin-top: 20%;
    width: 90%;
}

.valores-texto-container p
{
    color: #1d1d1d;
}

.valores-texto-container button 
{
    margin-top: 30px;
}

.nuestro-trabajo-container
{
   width: 100%;
   height: 110vh;
   overflow: hidden;
   background-color: #E9ECEF;
}

.nuestro-trabajo-texto-container
{
    width: 90%;
    margin-left: 5%;
}

.nuestro-trabajo-texto-container p
{
    color: #212529;
    text-align: center;
}

.nuestro-trabajo-carousel-container
{
    display: flex;
    width: 100%;
    animation: slide 15s infinite;
}

.nuestro-trabajo-carousel-container div
{
    flex: 0 0 100%;
    height: 50vh;
}

.nuestro-trabajo-carousel-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.nuestro-trabajo-carousel-container img + div 
{
    position: absolute;
    background-color: rgba(0, 0, 0, 70%);
    width: 100%;
    height: 30%;
    top: 70%;
}

.nuestro-trabajo-carousel-container img + div p 
{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

@keyframes slide
{
    0%
    {
        transform: translateX(0);
    }
    33%
    {
        transform: translateX(-100%);
    }
    66%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

.nuestro-trabajo-contacto-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.nuestro-trabajo-contacto-container p
{
    margin-bottom: 15px;
}

.contactanos-container
{
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./resources/Construccion.png);
    background-position: 0%;    
    object-fit: cover;
    width: 100%;
    height: 100vh;
    color: #dddddd;
}

.contactanos-container div 
{
    width: 80%;
    margin-top: 20%;
    text-align: center;
}

.contactanos-container form
{
    width: 80%;
    padding-top: 10%;
}

.contactanos-container input, select, textarea
{
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.contactanos-container input[type=submit]
{
    width: 130px;
    height: 35px;
    font-weight: bolder;
    font-size: 0.75em;
    color: white;
    background-color: #1d1d1d;
    border: none;
}

.contactanos-container input[type=submit]:hover
{
    transform: translateY(1px);
}